<div>
  <h2>New article</h2>
</div>

<div>
  <%= form_for(@article) do |f| %>
    <div>
     <%= f.label :Title %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :Content %>
    </div>
    <div>
    <%= f.text_field :content %>
    </div>
    <div style="margin-top: 12px">
    <%= f.submit %>
    </div>
  <% end %>
  <div style="margin-top: 12px">
    <%= link_to "Back to the list", articles_path %>
  </div>
</div>
